
.navbar .navbar-nav {float: left; 
                     # color: #ff3368; 
                     font-size: 14px; 
                     # background-color: #FFFF00 ; } 
.navbar .navbar-header {float: left; } 
.navbar-default .navbar-brand { font-size: 38px; 
                                #background-color: #e81a1a ;} 

